{% extends "blog/base.html" %}

{% block body %}

    <h1>Posts</h1>
    <ul>
        {% for post in object_list %}
            <li>
                {{ post.date_published|date }} - {{ post.title }}
                {{ post.body }}
                <a href="{% url 'detail' post.pk %}">More</a>

                <!-- if user is authenticated -->
                <a href="{% url 'update' post.pk %}">Update post</a>
            </li>
        {% empty %}
            <li>No posts yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
